$collapsible-menu-background: #f5f5f5; 
$collapsible-menu-border-color: #eaeaea;

.collapsible__menu {
    min-width: 192px;
    max-width: 192px;
    height: 100%;
    border: 1px solid transparent;
    background-color: $collapsible-menu-background;
    position: relative;
    transition: .2s all ease-in-out;
    font-size: .9rem;
    z-index: 1000;
    box-sizing: border-box;
    &.closed {
        transform: translate(-100%);
        transition: .2 all ease-in-out;
        max-width: 0;
        min-width: 0;
        .collapsible__menu__close-tab {
            border-radius: 5px 0px 0px 5px;
        }
        .collapsible__menu__content {
            visibility: hidden;
        }
        &.left {
            .collapsible__menu__close-tab {
               transform: rotate(180deg);
            }
        }
        &.right {
            .collapsible__menu__close-tab {
                transform: rotate(0deg);
            }
        }
    }
    &.left {
        border-right-color: $collapsible-menu-border-color;
    }
    &.right {
        border-left-color: $collapsible-menu-border-color;
        .collapsible__menu__close-tab {
            left: auto;
            right: 100%;
            transform: rotate(-180deg);
        }
    }
    .collapsible__menu__content {
        width: 85%;
        height: 100%;
        overflow-y: auto;
        margin: 0 auto;
        visibility: visible;
    }
    .collapsible__menu__close-tab {
        position: absolute;
        top: 50%;
        left: 100%;
        width: 30px;
        height: 30px;
        cursor: pointer;
        border-radius: 0px 5px 5px 0px;
        background-color: $collapsible-menu-background;
        border: 1px solid $collapsible-menu-border-color;
        transition: .2s all ease-in-out;
        &:hover {
            background-color: #eaeaea;
        }
        .collapsible__menu__close-tab__icon {
            width: 80%;
            height: 80%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            svg {
                position: relative;
                left: 50%;
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                transform: translateX(-50%);
                width: 100%;
                height: 100%;
            }
        }
    }
    .collapsible__list__body {
        li {
            transition: 0.2s;
            &.search-result--hidden {
                color: rgba(0, 0, 0, 0.5);
            }
        }
    }
}