@use 'sassStyles/mixins';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap');

*, *:before, *:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Poppins', sans-serif;
	word-break: break-all;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

#root {
	width: 100%;
	height: 100%;
}